@font-face {
    font-family: catFont;
    src: url(nagurip.ttf);
}

body {
	background-color: #93E2D5;
	margin: 0px;
}


#area {
	position: relative;
}

#header {
	color: #1d1d1d;
	font-family: catFont, Helvetica, sans-serif;
	font-size: 28pt;
	text-align: center;
}

.navbar-brand {
	font-family: catFont, Helvetica, sans-serif;
}

.cat {
	width: 200px;
	position: absolute;
}