@font-face {
    font-family: myFirstFont;
    src: url(nagurip.ttf);
}

body {
	background-color: #93E2D5;
	margin: 0px;
}


#area {
	position: relative;
}

#header {
	color: #1d1d1d;
	font-family: myFirstFont, Helvetica, sans-serif;
	font-size: 28pt;
	text-align: center;
}

#neko {
	width: 250px;
	position: absolute;
}